nav {
  display: flex;
  justify-content: flex-start;;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    li{
      margin: 0 18px;
      &:hover {
        color: lighten(black, 60%);
      }
    }
    li:nth-child(6){
      color: white;
      background-color: #00b3b4;
      border-radius: 4px;
      padding: 5px 10px;
      &:hover {
        background-color: lighten(#00b3b4, 10%);
      }
    }
  }
  img {
    width: 20%;
    height: 100%;
    min-width: 100px;
  }
    a {
      margin: 16px 6vw;
      color: #00b3b4;
    }
}
